@import '@/styles/variables.scss';

.row {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -.5rem;
    margin-left: -.5rem;
    @media (max-width: $sm) {
        flex-wrap: wrap;
    }
}

.center {
    justify-content: center;
}

.middle {
    align-items: center;
}

.noWrap {
    flex-wrap: nowrap;
}

.reverse {
    flex-wrap: wrap-reverse;
}

.spaceBetween {
    justify-content: space-between;
}

.col {
    flex-basis: calc((100%/12)*12);
    padding-left: .5rem;
    padding-right: .5rem;
}

.colSmall {
    &12 {
        @media (max-width: $sm) {
            flex-basis: calc((100%/12)*12);
        }
        @media (max-height: $sm) {
            flex-basis: calc((100%/12)*12);
        }
    }

    &11 {
        @media (max-width: $sm) {
            flex-basis: calc((100%/12)*11);
        }
        @media (max-height: $sm) {
            flex-basis: calc((100%/12)*11);
        }
    }

    &10 {
        @media (max-width: $sm) {
            flex-basis: calc((100%/12)*10);
        }
        @media (max-height: $sm) {
            flex-basis: calc((100%/12)*10);
        }
    }

    &9 {
        @media (max-width: $sm) {
            flex-basis: calc((100%/12)*9);
        }
        @media (max-height: $sm) {
            flex-basis: calc((100%/12)*9);
        }
    }

    &8 {
        @media (max-width: $sm) {
            flex-basis: calc((100%/12)*8);
        }
        @media (max-height: $sm) {
            flex-basis: calc((100%/12)*8);
        }
    }

    &7 {
        @media (max-width: $sm) {
            flex-basis: calc((100%/12)*7);
        }
        @media (max-height: $sm) {
            flex-basis: calc((100%/12)*7);
        }
    }

    &6 {
        @media (max-width: $sm) {
            flex-basis: calc((100%/12)*6);
        }
        @media (max-height: $sm) {
            flex-basis: calc((100%/12)*6);
        }
    }

    &5 {
        @media (max-width: $sm) {
            flex-basis: calc((100%/12)*5);
        }
        @media (max-height: $sm) {
            flex-basis: calc((100%/12)*5);
        }
    }

    &4 {
        @media (max-width: $sm) {
            flex-basis: calc((100%/12)*4);
        }
        @media (max-height: $sm) {
            flex-basis: calc((100%/12)*4);
        }
    }

    &3 {
        @media (max-width: $sm) {
            flex-basis: calc((100%/12)*3);
        }
        @media (max-height: $sm) {
            flex-basis: calc((100%/12)*3);
        }
    }

    &2 {
        @media (max-width: $sm) {
            flex-basis: calc((100%/12)*2);
        }
        @media (max-height: $sm) {
            flex-basis: calc((100%/12)*2);
        }
    }

    &1 {
        @media (max-width: $sm) {
            flex-basis: calc((100%/12)*1);
        }
        @media (max-height: $sm) {
            flex-basis: calc((100%/12)*1);
        }
    }
}

.colMedium {
    &12 {
        @media (min-width: $sm) and (max-width: $md) {
            flex-basis: calc((100%/12)*12);
        }
    }

    &11 {
        @media (min-width: $sm) and (max-width: $md) {
            flex-basis: calc((100%/12)*11);
        }
    }

    &10 {
        @media (min-width: $sm) and (max-width: $md) {
            flex-basis: calc((100%/12)*10);
        }
    }

    &9 {
        @media (min-width: $sm) and (max-width: $md) {
            flex-basis: calc((100%/12)*9);
        }
    }

    &8 {
        @media (min-width: $sm) and (max-width: $md) {
            flex-basis: calc((100%/12)*8);
        }
    }

    &7 {
        @media (min-width: $sm) and (max-width: $md) {
            flex-basis: calc((100%/12)*7);
        }
    }

    &6 {
        @media (min-width: $sm) and (max-width: $md) {
            flex-basis: calc((100%/12)*6);
        }
    }

    &5 {
        @media (min-width: $sm) and (max-width: $md) {
            flex-basis: calc((100%/12)*5);
        }
    }

    &4 {
        @media (min-width: $sm) and (max-width: $md) {
            flex-basis: calc((100%/12)*4);
        }
    }

    &3 {
        @media (min-width: $sm) and (max-width: $md) {
            flex-basis: calc((100%/12)*3);
        }
    }

    &2 {
        @media (min-width: $sm) and (max-width: $md) {
            flex-basis: calc((100%/12)*2);
        }
    }

    &1 {
        @media (min-width: $sm) and (max-width: $md) {
            flex-basis: calc((100%/12)*1);
        }
    }
}

.colLarge {
    &12 {
        @media (min-width: $md) and (max-width: $lg) {
            flex-basis: calc((100%/12)*12);
        }
    }

    &11 {
        @media (min-width: $md) and (max-width: $lg) {
            flex-basis: calc((100%/12)*11);
        }
    }

    &10 {
        @media (min-width: $md) and (max-width: $lg) {
            flex-basis: calc((100%/12)*10);
        }
    }

    &9 {
        @media (min-width: $md) and (max-width: $lg) {
            flex-basis: calc((100%/12)*9);
        }
    }

    &8 {
        @media (min-width: $md) and (max-width: $lg) {
            flex-basis: calc((100%/12)*8);
        }
    }

    &7 {
        @media (min-width: $md) and (max-width: $lg) {
            flex-basis: calc((100%/12)*7);
        }
    }

    &6 {
        @media (min-width: $md) and (max-width: $lg) {
            flex-basis: calc((100%/12)*6);
        }
    }

    &5 {
        @media (min-width: $md) and (max-width: $lg) {
            flex-basis: calc((100%/12)*5);
        }
    }

    &4 {
        @media (min-width: $md) and (max-width: $lg) {
            flex-basis: calc((100%/12)*4);
        }
    }

    &3 {
        @media (min-width: $md) and (max-width: $lg) {
            flex-basis: calc((100%/12)*3);
        }
    }

    &2 {
        @media (min-width: $md) and (max-width: $lg) {
            flex-basis: calc((100%/12)*2);
        }
    }

    &1 {
        @media (min-width: $md) and (max-width: $lg) {
            flex-basis: calc((100%/12)*1);
        }
    }
}

.colExtraLarge {
    &12 {
        @media (min-width: $lg)  {
            flex-basis: calc((100%/12)*12);
        }
    }

    &11 {
        @media (min-width: $lg)  {
            flex-basis: calc((100%/12)*11);
        }
    }

    &10 {
        @media (min-width: $lg)  {
            flex-basis: calc((100%/12)*10);
        }
    }

    &9 {
        @media (min-width: $lg)  {
            flex-basis: calc((100%/12)*9);
        }
    }

    &8 {
        @media (min-width: $lg)  {
            flex-basis: calc((100%/12)*8);
        }
    }

    &7 {
        @media (min-width: $lg)  {
            flex-basis: calc((100%/12)*7);
        }
    }

    &6 {
        @media (min-width: $lg)  {
            flex-basis: calc((100%/12)*6);
        }
    }

    &5 {
        @media (min-width: $lg)  {
            flex-basis: calc((100%/12)*5);
        }
    }

    &4 {
        @media (min-width: $lg)  {
            flex-basis: calc((100%/12)*4);
        }
    }

    &3 {
        @media (min-width: $lg)  {
            flex-basis: calc((100%/12)*3);
        }
    }

    &2 {
        @media (min-width: $lg)  {
            flex-basis: calc((100%/12)*2);
        }
    }

    &1 {
        @media (min-width: $lg)  {
            flex-basis: calc((100%/12)*1);
        }
    }
}