@font-face {
    font-family: 'GraphikBlack';
    src: url('/fonts/Graphik/GraphikBlack.otf');
}

@font-face {
    font-family: 'GraphikBlackItalic';
    src: url('/fonts/Graphik/GraphikBlackItalic.otf');
}

@font-face {
    font-family: 'GraphikBold';
    src: url('/fonts/Graphik/GraphikBold.otf');
}

@font-face {
    font-family: 'GraphikBoldItalic';
    src: url('/fonts/Graphik/GraphikBoldItalic.otf');
}

@font-face {
    font-family: 'GraphikExtralight';
    src: url('/fonts/Graphik/GraphikExtralight.otf');
}

@font-face {
    font-family: 'GraphikExtralightItalic';
    src: url('/fonts/Graphik/GraphikExtralightItalic.otf');
}

@font-face {
    font-family: 'GraphikLight';
    src: url('/fonts/Graphik/GraphikLight.otf');
}

@font-face {
    font-family: 'GraphikLightItalic';
    src: url('/fonts/Graphik/GraphikLightItalic.otf');
}

@font-face {
    font-family: 'GraphikMedium';
    src: url('/fonts/Graphik/GraphikMedium.otf');
}

@font-face {
    font-family: 'GraphikMediumItalic';
    src: url('/fonts/Graphik/GraphikMediumItalic.otf');
}

@font-face {
    font-family: 'GraphikRegular';
    src: url('/fonts/Graphik/GraphikRegular.otf');
}

@font-face {
    font-family: 'GraphikRegularItalic';
    src: url('/fonts/Graphik/GraphikRegularItalic.otf');
}

@font-face {
    font-family: 'GraphikSemibold';
    src: url('/fonts/Graphik/GraphikSemibold.otf');
}

@font-face {
    font-family: 'GraphikSemiboldItalic';
    src: url('/fonts/Graphik/GraphikSemiboldItalic.otf');
}

@font-face {
    font-family: 'GraphikSuper';
    src: url('/fonts/Graphik/GraphikSuper.otf');
}

@font-face {
    font-family: 'GraphikSuperItalic';
    src: url('/fonts/Graphik/GraphikSuperItalic.otf');
}

@font-face {
    font-family: 'GraphikThin';
    src: url('/fonts/Graphik/GraphikThin.otf');
}

@font-face {
    font-family: 'GraphikThinItalic';
    src: url('/fonts/Graphik/GraphikThinItalic.otf');
}

@font-face {
    font-family: 'RoxboroughCF-Bold';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-Bold.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-BoldItalic';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-BoldItalic.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-DemiBold';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-DemiBold.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-DemiBoldItalic';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-DemiBoldItalic.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-ExtraBold';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-ExtraBold.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-ExtraBoldItalic';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-Heavy';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-Heavy.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-HeavyItalic';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-HeavyItalic.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-Light';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-Light.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-LightItalic';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-LightItalic.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-Medium';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-Medium.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-MediumItalic';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-MediumItalic.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-Regular';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-Regular.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-RegularItalic';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-RegularItalic.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-Thin';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-Thin.ttf');
}

@font-face {
    font-family: 'RoxboroughCF-ThinItalic';
    src: url('/fonts/Roxborough.CF/RoxboroughCF-ThinItalic.ttf');
}