@import '@/styles/variables.scss';

.indexContainer {
    align-self: center;
}

.navLeft {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    left:-1.5%;
    transform: rotate(-90deg) translate(-100%, 0%);
    transform-origin: 0 -100%;
    @media (max-width: $sm) {
        display: none;
    }
    @media (max-height: $sm) {
        display: none;
    }
}
.navLeft a,
.navRight a{
    font-size:15px;
    line-height: 1.2;
    font-family: "GraphikRegular", sans-serif;
    text-decoration:none;
}
.navRight {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    right: -1.5%;
    transform: rotate(90deg) translate(100%, 100%);
    transform-origin: 100% 0;
    @media (max-width: $sm) {
        display: none;
    }
    @media (max-height: $sm) {
        display: none;
    }
}

.content {
    text-align: center;

    @media (max-width: $sm) {
        font-size: 81px;
        
    }

    @media (min-width: $sm) and (max-width: $md) {
        font-size: 130px;
        
    }
    @media (min-width: $md) and (max-width: $lg) {
        font-size: 165px;
        
    }
    @media (min-width: $lg) and (max-width: $xl) {
        font-size: 190px;
        
    }
    @media (min-width: $xl) {
        font-size: 250px;
    }

    @media (min-width: $xl) and (min-height: 1080px) {
        font-size: 300px;
    }

    @media (max-height: $sm) {
        font-size: 81px;
    }
}

.header1Type1 {
    font-family: 'RoxboroughCF-Bold';
    font-weight: normal;
    font-size: 1em;
    line-height: 0;
    margin: .823em 0;
}

.header1Type2 {
    font-family: 'GraphikBold';
    font-weight: normal;
    font-size: 1em;
    line-height: 0;
    margin: 0;
    margin-bottom: .6em;
}

.button {
    font-family: 'GraphikRegularItalic';
    border-radius: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @media (max-width: $sm) {
        font-size: 0.236em;
        padding: .6em 1.5em;
        border: solid 0.1966666667em $lightColor;
    }

    @media (min-width: $sm) and (max-width: $md) {
        font-size: 0.136em;
        padding: .6em 1.5em;
        border: solid 0.1166666667em $lightColor;
    }
    @media (min-width: $md) and (max-width: $lg) {
        font-size: 0.136em;
        padding: .6em 1.5em;
        border: solid 0.1166666667em $lightColor;
    }
    @media (min-width: $lg) and (max-width: $xl) {
        font-size: 0.136em;
        padding: .6em 1.5em;
        border: solid 0.1166666667em $lightColor;
    }
    @media (min-width: $xl) {
        font-size: 0.136em;
        padding: .6em 1.5em;
        border: solid 0.1166666667em $lightColor;
    }

    @media (max-height: $sm) {
        font-size: 0.236em;
        padding: .6em 1.5em;
        border: solid 0.1966666667em $lightColor;
    }
}
.videoWrapper{
    padding:0px;
}
.videoContainer{
    width: 100%;

    overflow: hidden;
    /*padding: 1rem;*/
    margin: 0 auto;
    border-radius: 26px;
    display:flex;
    align-items: center;
    max-width: 1254px;
    max-height: 706px;
    @media(max-width: 1600px){
        max-width: 60%;
        max-height: 90%;
    }

     @media(max-width: $sm){
        max-width: 100%;
        max-height: 90%;
    }
}
.videoInIframe {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoInIframe iframe {
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}