@import '@/styles/variables.scss';

.indexContainer {
    align-self: center;
}

.navLeft {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: -1em;
    transform: rotate(-90deg);
    @media (max-width: $sm) {
        display: none;
    }
    @media (max-height: $sm) {
        display: none;
    }
}

.navRight {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    right: -1em;
    transform: rotate(90deg);
    @media (max-width: $sm) {
        display: none;
    }
    @media (max-height: $sm) {
        display: none;
    }
}

.content {
    text-align: center;

    @media (max-width: $sm) {
        font-size: 81px;
        
    }

    @media (min-width: $sm) and (max-width: $md) {
        font-size: 130px;
        
    }
    @media (min-width: $md) and (max-width: $lg) {
        font-size: 165px;
        
    }
    @media (min-width: $lg) and (max-width: $xl) {
        font-size: 190px;
        
    }
    @media (min-width: $xl) {
        font-size: 250px;
    }

    @media (min-width: $xl) and (min-height: 1080px) {
        font-size: 300px;
    }

    @media (max-height: $sm) {
        font-size: 81px;
    }
}

.header1Type1 {
    font-family: 'RoxboroughCF-Bold';
    font-weight: normal;
    font-size: 1em;
    line-height: 0;
    margin: .823em 0;
}

.header1Type2 {
    font-family: 'GraphikBold';
    font-weight: normal;
    font-size: 1em;
    line-height: 0;
    margin: 0;
    margin-bottom: .6em;
}

.button {
    font-family: 'GraphikRegularItalic';
    border-radius: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @media (max-width: $sm) {
        font-size: 0.236em;
        padding: .6em 1.5em;
        border: solid 0.1966666667em $lightColor;
    }

    @media (min-width: $sm) and (max-width: $md) {
        font-size: 0.136em;
        padding: .6em 1.5em;
        border: solid 0.1166666667em $lightColor;
    }
    @media (min-width: $md) and (max-width: $lg) {
        font-size: 0.136em;
        padding: .6em 1.5em;
        border: solid 0.1166666667em $lightColor;
    }
    @media (min-width: $lg) and (max-width: $xl) {
        font-size: 0.136em;
        padding: .6em 1.5em;
        border: solid 0.1166666667em $lightColor;
    }
    @media (min-width: $xl) {
        font-size: 0.136em;
        padding: .6em 1.5em;
        border: solid 0.1166666667em $lightColor;
    }

    @media (max-height: $sm) {
        font-size: 0.236em;
        padding: .6em 1.5em;
        border: solid 0.1966666667em $lightColor;
    }
}

.videoInIframe {
    width: 80%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoInIframe iframe {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 80%;
}