@import '@/styles/variables.scss';

.infoContainer {
    align-self: center;

    @media (max-width: $sm) {
        align-self: flex-start;
        padding-top: 72px;
    }
}

.navLeft {
    font-size: 4rem;
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
    @media (max-width: $sm) {
        display: none;
    }
 
}

.content{
    max-width: 1482px;
    margin:0 auto;
    padding:0 20px;

    @media(max-width: 1600px){
        max-width: 1200px;
    }

    @media(max-width:$xl){
        max-width:900px;
    }

    @media(max-width:$lg){
        max-width:700px;
    }
     @media(max-width:$md){
        max-width:500px;
    }
}

.header3Type1 {
    font-family: 'RoxboroughCF-Bold';
    font-style: normal;
    display: inline;
    font-size: 1em;
}

.header3Type2 {
    font-family: 'GraphikBold';
    font-style: normal;
    display: inline;
    font-size: 1em;
}

.header3Type3 {
    font-family: 'GraphikSemiBold';
    font-style: normal;
    display: inline;
    font-size: 1em;
}

.header3Type4 {
    font-family: 'RoxboroughCF-DemiBold';
    font-style: normal;
    display: inline;
    font-size: 1em;
}

/*New header*/
.header3Type5{
    font-family:'GraphikSemiBold',Arial, sans-serif;
    font-size:100px;
    line-height:0.9;
    @media(max-width: 1600px){
        font-size: 90px;
    }
    @media(max-width:1300px){
        font-size:60px;
    }
    @media(max-width:$lg){
        font-size:50px;
    }
    @media(max-width: $md){
        font-size:40px;
    }

     @media(max-width: $sm){
        font-size:40px;
    }

    @media(max-width:395px){
        font-size:35px;
    }
    @media(max-width:380px){
        font-size:29px;
    }
}
.inlineImage {
    width: 0.606938776em;
    height: 0.969387755em;
    margin-left: 0.315789474em;
    display: inline-block;
    position: relative;

    @media (max-width: $sm) {
        width: 23.36px;
        height: 37.31px;
    }

    @media (max-height: $sm) {
        width: 23.36px;
        height: 37.31px;
    }

    & svg {
        position: absolute;
        top: .0421052632em;
        width: 100%;
        height: 100%;
    }
}

.inlineImageLarge {
    width: 1.28132653em;
    height: 0.814591837em;
    margin-left: 0.315789474em;
    display: inline-block;
    position: relative;

    & svg {
        position: absolute;
        bottom: -0.132653061em;
        width: 100%;
        height: 100%;
    }
}

.rectangle {
    width: 1.92em;
    margin: 0 0.3789473684em;
    
    display: inline-block;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        color: inherit;
        background-color: currentColor;
        bottom: -0.132653061em;
        width: 1.92em;
        height: 0.96em;
    }
}

.square {
    width: 0.98989899em;
    margin-right: 0.3789473684em;
    
    display: inline-block;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        color: inherit;
        background-color: currentColor;
        bottom: -0.132653061em;
        width: 0.98989899em;
        height: 0.959183673em;
    }
}

.oval {
    width: 2.36530612em;
    margin-right: 0.3789473684em;

    display: inline-block;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        color: inherit;
        background-color: currentColor;
        bottom: -0.132653061em;
        width: 2.36530612em;
        height: 0.925102041em;
        border-radius: 80%;
    }
}

.dash {
    width: 1.2755102em;
    margin-left: 0.3789473684em;

    display: inline-block;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        color: inherit;
        background-color: currentColor;
        bottom: 0.244897959em;
        width: 1.2755102em;
        height: 0.204081633em;
    }
}

.showForMobile {
    @media (max-width: $sm) {
        display: block;
    }
    @media (min-width: $sm) {
        display: none;
    }
}