.preloader_box{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #000000;
}

.bar { 
  background-color: #ffffff; 
  width:0%; 
  height:5px; 
  border-radius: 3px; 
  position:fixed;
  top:0;

}

.percent { 
  position:absolute; 
  display:inline-block; 
  top:3px; 
  left:48%; 
}

.preloader_box h1{
  font-size: 30px;
  color:#ffffff;
  font-weight: bold;
  line-height: 1.2;
  
  @media(max-width: 768px){

      font-size: 20px;
  }
}

.preloaderMainContent{
  display: flex;
  height: 100%;
  width: 100%;
  align-items:center;
  justify-content: center;
}