@import '@/styles/variables.scss';

.header {
    /*position: fixed;*/
    display: flex;
    align-items: flex-start;
    top: 0;
    width: 100%;
    height: $fixTopNavHeight;
    z-index: 9;

 /*   @media (max-width: $sm) {
        height: $fixTopNavHeightM;
    }

    @media (max-height: $sm) {
        height: $fixTopNavHeightM;
    }*/
}

.topMenuDesktopContainer {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    font-size: 15px;
    line-height: 1.34;
    @media (max-width: $sm) {
        display: none;
    }
    @media (max-height: $sm) {
        display: none;
    }
}

.topMenuDesktop {
    text-align: left;
    margin-left:20px;
}

.topMenuMobile {
    display: none;
    @media (max-width: $sm) {
        display: block;
        text-align: right;
        margin-right: 10px;

        & ul li {
            margin-left: 11px;
        }

    }
  /*  @media (max-height: $sm) {
        display: block;
        text-align: right;
        margin-right: 36px;

        & ul li {
            margin-left: 11px;
        }

    }*/
} 

.main {
    /*position: absolute;*/
    display: flex;
    align-content: center;
    /*top: $fixTopNavHeight;*/
    /*width: 100vw;*/
    height: $fixMainHeight;
    position: relative;
}

.footer {
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 1rem;
    width: 100%;
    height: $fixBottomNavHeight;
    vertical-align: bottom;
    justify-content: space-between;
    z-index: 9;
    font-size: 15px;
    line-height: 1.34;
    @media (max-width: $sm) {
        text-align: center;
        /*padding: 2em 2em 0 2em;*/
        padding:0 11px;
        height: $fixBottomNavHeightM;
        font-size:10px;
    }

}
.footerOtherPages {

    @media (max-width: $sm) {
        text-align: left;
    }

    @media (max-height: $sm) {
        text-align: left;
    }
}

.bottomMenuContainer {
    text-align: right;
  
}

.bottomMenuContainerOtherPages {
}

.bottomMenu li {

    @media (max-width: $sm) {
        padding: 0 5px 0 5px;
    }

    @media (min-width: $sm) and (max-width: $md) {
        padding: 0 5px 0 5px;
    }
    @media (min-width: $md) and (max-width: $lg) {
        padding: 0 5px 0 5px;
    }
    @media (min-width: $lg) and (max-width: $xl) {
        padding: 0 0 0 14px;
    }
    @media (min-width: $xl) {
        padding: 0 0 0 14px;
    }

    @media (max-height: $sm) {
        padding: 0 5px 0 5px;
    }
}

.bottomMenuOtherPages{
      @media(max-width: $sm){
        display: none;
    }

}
.bottomMenuOtherPages li {

    @media (max-width: $sm) {
        padding: 0 10px 0 0;
    }

    @media (min-width: $sm) and (max-width: $md) {
        padding: 0 10px 0 0;
    }
    @media (min-width: $md) and (max-width: $lg) {
        padding: 0 10px 0 0;
    }
    @media (min-width: $lg) and (max-width: $xl) {
        padding: 0 0 0 14px;
    }
    @media (min-width: $xl) {
        padding: 0 0 0 14px;
    }

    @media (max-height: $sm) {
        padding: 0 10px 0 0;
    }
}

.dotContainer{
    text-align: center;

    @media (max-width: $sm) {
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: inherit;
    background-color: currentColor;
    display: inline-block;
    cursor: pointer;

    @media (max-width: $sm) {
        width: 16px;
        height: 16px;
    }

    @media (max-height: $sm) {
        width: 16px;
        height: 16px;
    }
}

.dotContainerFooter{
    display: none;
    padding-bottom: 8px;
    /*margin-right: 15px;*/
    @media(max-width: $sm){
        display: block;
    }
}
.icon {
    color: currentColor;
    margin: 0;
    width: 20px;
    height: auto;

    @media (max-width: $sm) {
        width: 16px;
        height: auto;
    }

    @media (max-height: $sm) {
        width: 24px;
        height: auto;
    }
}

.logoContainer {
    @media (max-width: $sm) {
        height: 92px;
        display: flex;
        align-items: center;
        margin-top: 8px;
    }

    /*@media (max-height: $sm) {
        height: 92px;
        display: flex;
        align-items: flex-end;
        margin-top: 8px;
    }*/
}

.logoContainer a{
    @media(max-width: $sm){
        padding-left:0px;
    }
}
.logo {
    @media (max-width: $sm) {
        transform: scale(.45)
    }

    @media (min-width: $sm) and (max-width: $md) {
        transform: scale(1);
        margin-top: 26px;
    }
    @media (min-width: $md) and (max-width: $lg) {
        transform: scale(1);
        margin-top: 26px;
    }
    @media (min-width: $lg) and (max-width: $xl) {
        transform: scale(1);
        margin-top: 26px;
    }
    @media (min-width: $xl) {
        transform: scale(1);
        margin-top: 26px;
    }

    @media (max-height: $sm) {
        transform: scale(.45)
    }
}


.headerMain{
    font-family: 'RoxboroughCF-Bold', TimesNewRoman, serif;
    font-size: 26vw;
    line-height: 0.75;
    letter-spacing: 0px;
    /*margin:10px 0 0;/*/
    margin-block-start:5px;
    margin-block-end:0;
    z-index:9;
}
.header2Type3 {
    font-family: 'RoxboroughCF-Bold', TimesNewRoman, serif;
    font-style: normal;
    font-weight: normal;
    display: inline;  

}
.header2Type4{

    font-family: 'GraphikBold', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    display: inline; 
}
.footerContainer{
    display: none;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 0;
    font-size: 15px;
    line-height: 1.34;

    @media(max-width: 450px){
        display: block;
    }
}


.footerContainer p{
    margin: 0;
    font-size: 10px;
    font-family: 'GraphikMedium', Arial, sans-serif;
    line-height: 1.4;
    font-weight: normal;
    margin:0;
    z-index:10;
    position:relative;
    @media(max-width: 350px){
        font-size: 8px;
    }
}

.footerContainer p a {
    text-decoration: underline;
}
.hideHome{
    @media(max-width: $sm){
        display: none;
    }
}